body {
  margin: 0;
  padding: 0;
  background-color: rgb(200,200,190);
}
body > header {
  text-align: center;
  background-color: rgb(220,220,220);
  padding-top: 1em;
  padding-bottom: 0.5em;
}
div.flow {
  display: flex;
  flex-direction: row;
  margin: 0;
}
div.flow > div {
  display: flex;
  flex-direction: column;
  margin: 0 1vw;
}
div.flow > div > img {
  margin: 1vw 0;
}
