body {
  margin: 0;
  padding: 0;
  background-color: rgb(200,200,190);
}
body > header {
  text-align: center;
  background-color: rgb(220,220,220);
  padding-top: 1em;
  padding-bottom: 0.5em;
}
div.flow {
  display: flex;
  flex-direction: row;
  margin: 0;
}
div.flow > div {
  display: flex;
  flex-direction: column;
  margin: 0 1vw;
}
div.flow > div > div.item {
  position: relative;
  margin: 1vw 0;
}
div.info {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,0.7);
  opacity: 0.2;
  transition: opacity 1s;
}
div.item:hover > div.info {
  opacity: 1;
}
