:root {
  --margin: 2vw;
  --radius: 10px;
  --head-color: rgb(208, 246, 255);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(221, 221, 213);
}
body > header {
  text-align: center;
  background-color: var(--head-color);
  padding-top: 1em;
  padding-bottom: 2em;
  position: relative;
}
body > header > h1, h2 {
  font-family: "Charm", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}
header > h1 {
  font-size: 30pt;
}
.tag-search > div.tags{
  display: flex;
  flex-direction: row;
}
div.flow {
  display: flex;
  flex-direction: row;
  margin: 0;
}
div.flow > div {
  display: flex;
  flex-direction: column;
  margin-right: var(--margin);
  margin-top: var(--margin);
}
div.flow > div:first-child {
  margin-left: var(--margin);
}
div.flow > div > div.item {
  position: relative;
  margin-bottom: var(--margin);
}
div.item > img {
    border-radius: var(--radius);
}
div.info {
  padding: 0.5em;
  border-radius: var(--radius);
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: beige;
  opacity: 0;
  transition: opacity 1s;
}
div.item:hover > div.info {
  opacity: 1;
}
div.item:hover > div.tags {
  opacity: 1;
}
div.fullscreen {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-color: black;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
div.fullscreen img {
  margin: 0;
  object-fit: contain;
}
div.item > div.tags {
  position: absolute; 
  top: var(--radius);
  left: var(--radius);
  opacity: 0;
  transition: opacity 1s;
  cursor: pointer;
}
div.item > div.tags > div {
  display: inline-flex;
}
div.item > div.tags > div > span.name {
  margin-left: auto;
  flex-grow: 1;
}
div.tags > div > span.action {
  margin-left: 0.5em;
}
div.item div.tags > div:hover {
  background-color: rgb(160,250,150);
}
div.tag-search div.tags > div:hover {
  background-color: rgb(250,160,150);
}
div.fullscreen > div.tags {
  opacity: 1;
}
div.tags > div {
  background-color: white;
  border: 1px solid silver;
  border-radius: 0.5em;
  margin: 0.2em;
  padding: 0.2em 0.5em;
}
div.tag-search {
  position: absolute;
  bottom: 0;
}
div.tag-search.floating {
  position: fixed;
  top: 0;
  background-color: var(--head-color);
  left: 0;
  right: 0;
  z-index: 1;
  bottom: unset;
}